<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <!--TRACE to FILE
        DEBUG to FILE, STDOUT_DEBUG
        INFO to FILE, STDOUT_INFO
        WARN to FILE, STDERR
        ERROR to FILE, STDERR
        Note: FILE disabled by default-->

    <!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>-->
    <property name="COMPACT_ERROR_PATTERN" value="%level: %msg%n"/>
    <property name="COMPACT_INFO_PATTERN" value="%msg%n"/>
    <property name="COMPACT_DEBUG_PATTERN" value="%level %logger: %msg%n"/>
    <property name="VERBOSE_DEBUG_PATTERN" value="%d{HH:mm:ss.SSS} %level [%thread] %logger %msg%n"/>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>${COMPACT_ERROR_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_INFO" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${COMPACT_INFO_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${COMPACT_DEBUG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <File>nul</File>    <!--write file to dev/null unless specified in runtime-->
        <append>false</append>
        <immediateFlush>true</immediateFlush>

        <encoder>
            <pattern>${VERBOSE_DEBUG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">    <!--level may be changed in runtime-->
        <appender-ref ref="STDOUT_DEBUG"/>
        <appender-ref ref="STDOUT_INFO"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>